.bg-body{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../storage/images/body.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -100;
}
a{
    text-decoration: none;
    color: inherit;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.w-6{
    max-width: 55px;
}